*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--crm);


}

html{
--drk-pink: #af3e4d;
--dar-vlt: #351355;
--dust-pink: #e8dbc5;
--crm: #fcf9f6;
--mav: #aa968a;
--vlt: #bb71aa;
color: var(--drk-pink);
font: 20px/1 "Palatino Linotype";


}
a{
    color: var(--vlt);
}
a:hover{
    color: var(--mav);

}
.main-header{
    color: var(--dar-vlt);
}
.main-content{
    padding: 5rem, 10rem;
    margin: 1rem; 
}


li{
padding: 1rem;

}

